/* line 23, project.scss */
body, html {
  height: 100%; }

/* line 27, project.scss */
body {
  font-family: 'Montserrat';
  margin: 0; }
  /* line 31, project.scss */
  body #bg {
    clip-path: polygon(100% 0, 19% 100%, 0 100%, 0 0);
    background-color: #ba00ff;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1; }
    @media (min-width: 840px) {
      /* line 31, project.scss */
      body #bg {
        clip-path: polygon(0 0, 75% 0, 55% 100%, 0% 100%); } }
  /* line 44, project.scss */
  body header a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-transform: uppercase; }

@media (min-width: 840px) {
  /* line 53, project.scss */
  main {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-areas: "primary card"; } }
/* line 62, project.scss */
main section#card {
  background: #E4FAFD;
  padding: 20px;
  margin: 1em auto;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  width: 80%; }
  @media (min-width: 840px) {
    /* line 62, project.scss */
    main section#card {
      grid-area: card;
      height: fit-content;
      align-self: center;
      margin: 1em; } }
  /* line 77, project.scss */
  main section#card ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    /* line 81, project.scss */
    main section#card ul li {
      margin-bottom: 10px; }
      /* line 84, project.scss */
      main section#card ul li span {
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: #ccdfff;
        border-radius: 50%;
        margin-right: 10px; }
      /* line 93, project.scss */
      main section#card ul li strong {
        display: inline-block;
        margin-left: 40px;
        margin-top: 10px; }
/* line 102, project.scss */
main section#primary {
  color: #fff;
  padding: 15px;
  text-align: center; }
  @media (min-width: 840px) {
    /* line 102, project.scss */
    main section#primary {
      grid-area: primary;
      text-align: left;
      margin: 4em 0 0 4em; } }
  /* line 113, project.scss */
  main section#primary h1 {
    font-size: 3em;
    margin-top: 10px;
    text-transform: uppercase; }
    @media (min-width: 840px) {
      /* line 113, project.scss */
      main section#primary h1 {
        width: 30%;
        font-size: 4em;
        line-height: .9em; } }
  /* line 125, project.scss */
  main section#primary p {
    font-size: 1.4em; }
  /* line 129, project.scss */
  main section#primary a {
    color: black;
    border-radius: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #FFF6BB;
    display: block;
    text-align: center;
    margin: 50px auto 0 auto;
    padding: 15px;
    border: thin solid orange; }
    @media (min-width: 840px) {
      /* line 129, project.scss */
      main section#primary a {
        display: inline-block;
        padding: 15px 60px; } }
